* {
  margin: 0;
  padding: 0;
}

.window-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: 100vh;
  grid-gap: 0px;
}

.window-section-1 {
  height: 50vh;
  width: 50vw;
  background-color: palevioletred;
}
.window-section-2 {
  height: 50vh;
  width: 50vw;
  background-color: orange;
}
.window-section-3 {
  height: 50vh;
  width: 50vw;
  background-color: yellowgreen;
}
.window-section-4 {
  height: 50vh;
  width: 50vw;
  background-color: blueviolet;
}

.video-container {
  position: fixed;
  height: 100px;
  width: 150px;
  background-color: lightgrey;
  bottom: 25px;
  left: 25px;
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0,0,0,0.5);
  box-shadow: 0 2.5rem 4rem rgba(0,0,0,0.5);
  outline-offset: 5px;
}

.video-container:hover {
  outline: 2px solid #fff;
  -webkit-transform: scale(1.05) translateY(-2px);
  transform: scale(1.05) translateY(-2px);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0,0,0,0.5);
  box-shadow: 0 2.5rem 4rem rgba(0,0,0,0.5);
}

@media only screen and (max-width: 600px) {
  .video-container {
    height: 70px;
    width: 110px;
  }
}

.video-container:hover {
  cursor: grab;
}

.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

video:focus {
  outline: none;
}
